<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4 ">
				<i class="img img-BAT mb-3"></i>
				<h1>Basic Attention Token</h1>
				<h2>Blockchain based digital advertising</h2>
				<p>{{ .Param "bat_desc" }}</p>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-3 col-sm-6 mb-5">
						<h1>{{ .Param "communitybat" }}</h1>
						<ul>
							<li><a href="#">Reddit</a></li>
							<li><a href="#">Telegram</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Community</a></li>
						</ul>
					</div>
					<div class="col-lg-2 col-sm-6 mb-5">
						<h1>{{ .Param "links" }}</h1>
						<ul>
							<li><a href="#">{{ .Param "batshop" }}</a></li>
							<li><a href="#">Brave Browser</a></li>
							<li><a href="#">{{ .Param "careers" }}</a></li>
							<li><a href="#">{{ .Param "privacy" }}</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-sm-6 mb-5">
						<h1>{{ .Param "terms" }}</h1>
						<ul>
							<li><a href="#">{{ .Param "users" }}</a></li>
							<li><a href="#">{{ .Param "publishers" }}</a></li>
							<li><a href="#">{{ .Param "advertisers" }}</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-sm-6 mb-5">
						<h1>{{ .Param "contact" }}</h1>
						<ul class="contact">
							<li>{{ .Param "press" }} <br /><a href="mailto:press&#64;basicattentiontoken.org">press&#64;basicattentiontoken.org</a></li>
							<li>{{ .Param "questions" }} <br /><a href="http://community.brave.com">community.brave.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
