<footer>
	<i class="img img-bat-logo-1"></i>
	<h1>Basic Attention Token</h1>
	<p>Blockchain based digital advertising</p>
	<p>The Basic Attention Token is the new token for the digital advertising industry. It pays publishers for their content and users for their attention, while providing advertisers with more in return for their ads.</p>
	<h1>BAT Community</h1>
	<ul>
		<li><a href="#">Reddit</a></li>
		<li><a href="#">Telegram</a></li>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Community</a></li>
	</ul>
	<h1>Links</h1>
	<ul>
		<li><a href="#">BAT Shop</a></li>
		<li><a href="#">Brave Browser</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Privacy Policy</a></li>
	</ul>
	<h1>Terms of Service</h1>
	<ul>
		<li><a href="#">Users</a></li>
		<li><a href="#">Publishers</a></li>
		<li><a href="#">Advertisers</a></li>
	</ul>
	<h1>Contact</h1>
        <ul>
            <li>Press <a href="mailto:press&#64;basicattentiontoken.org">press&#64;basicattentiontoken.org</a></li>
            <li>Questions <a href="http://community.brave.com">community.brave.com</a></li>
        </ul>
</footer>
<script src="/assets/js/bootstrap.min.js"></script>