{{ define "main" }}
<div id="single-article">
    <header>
        <i class="img img-ellipse tl"></i>
        <i class="img img-ellipse ml"></i>
        <i class="img img-Union bl"></i>
        <i class="img img-ellipse tr"></i>
        <i class="img img-ellipse mr"></i>
        <i class="img img-Union br"></i>
        <h1 class="text-center">{{ .Title }}</h1>
    </header>
    <div class="container">
        <main class="row my-5">
            <aside class="col-lg-3">
                <strong>Table of Contents</strong>
                {{ .TableOfContents }}
            </aside>
            <article class="col-lg-9"> 
                <span class="date ">Published {{ .Page.Lastmod.Format "January 1, 2006" }}</span>
                <a href="#" target="_blank" class="  social-share">Tweet this article <i class="img img-social-share"></i></a>
                <br />
                {{ .Content }}
            </article>
        </main>
    </div>
</div>
{{- partial "articles/related-articles.html" .}}
{{ end }}