<div id="blockchain" class="pt-5">
    <div class="container">
        <div class="text-center title pb-3">
            <i class="img img-brave"></i>
            <span>+</span>
            <i class="img img-bat-logo-1"></i>
        </div>
        <h1 class="text-center">Blockchain Digital Advertising</h1>
        <p class="text-center mb-5">Introducing a decentralized, transparent digital ad exchange based on Ethereum Blockchain.</p>
        <div class="row row-fluid">
            <div class="col-lg-6 ">
                <ul>
                    <li class="row">
                        <i class="img img-taj col-1"></i>
                        <div class="content col-10">
                            <h3>Stage 1: Brave Browser</h3>
                            <p>Brave is a fast, open source, privacy-focused browser that blocks malvertisements, trackers, and contains a ledger system that anonymously captures user attention to accurately reward publishers.</p>
                        </div>
                    </li>
                    <li class="row">
                        <i class="img img-bra col-1"></i>
                        <div class="content col-10">
                            <h3>Stage 2: Basic Attention Token</h3>
                            <p>The Basic Attention Token can be used to obtain a variety of advertising and attention-based services on the BAT platform, as it is exchanged between publishers, advertisers, and users.</p>
                            <p>The token’s utility is derived from — or denominated by — user attention.</p>
                            <p>Attention is really just focused mental engagement — on an advertisement, in this case.</p>
                        </div>
                    </li>
                    <li class="row">
                        <i class="img img-Velocity col-1"></i>
                        <div class="content col-10">
                            <h3>Stages 1 + 2 = A New Deal</h3>
                            <p>The Brave browser knows where users spend their time, making it the perfect tool to calculate and reward publishers with BATs. This service creates a transparent and efficient Blockchain-based digital advertising market. Publishers receive more revenue because middlemen and fraud are reduced. Users opt-in to an inclusive and rewarding private ad experience. And advertisers get better data on their spending.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6  align-self-center">
                <img src="/assets/img/browser.jpeg" alt="Brave rewards" class="drop-shadow img-fluid"/>
            </div>
        </div>
    </div>
</div>