<div id="blockchain">
    <i class="img img-bat-logo-1"></i>+
    <i class="img img-brave"></i>
    <h1>Blockchain Digital Advertising</h1>
    <p>Introducing a decentralized, transparent digital ad exchange based on Ethereum Blockchain.</p>
        <ul>
            <li>
                <i class="img img-taj"></i>
                <p>Stage 1: Brave Browser</p>
                <p>Brave is a fast, open source, privacy-focused browser that blocks malvertisements, trackers, and contains a ledger system that anonymously captures user attention to accurately reward publishers.</p>
            </li>
            <li>
                <i class="img img-bra"></i>
                <p>Stage 2: Basic Attention Token</p>
                <p>The Basic Attention Token can be used to obtain a variety of advertising and attention-based services on the BAT platform, as it is exchanged between publishers, advertisers, and users.</p>
                <p>The token’s utility is derived from — or denominated by — user attention.</p>
                <p>Attention is really just focused mental engagement — on an advertisement, in this case.</p>
            </li>
            <li>
                <i class="img img-Velocity"></i>
                <p>Stages 1 + 2 = A New Deal</p>
                <p>The Brave browser knows where users spend their time, making it the perfect tool to calculate and reward publishers with BATs. This service creates a transparent and efficient Blockchain-based digital advertising market. Publishers receive more revenue because middlemen and fraud are reduced. Users opt-in to an inclusive and rewarding private ad experience. And advertisers get better data on their spending.</p>
            </li>
        </ul>
    <img src="/assets/img/browser.jpeg" alt="Brave rewards"/>
</div>