<div id="challenge">
    <div class="container">
        <h1 class="text-center">The Challenge</h1>
        <h2 class="text-center mt-3 mb-5">Digital advertising is overrun by middlemen, trackers and fraud.</h2>
        <div class="row row-flex">
            <section class="col-lg-4">
                <div class="section-content">
                    <i class="img img-Targeting"></i>
                    <h1>Users are abused</h1>
                    <ul>
                        <li>Up to 50% of the average user’s mobile data is for ads and trackers, costing as much as $23 a month.</li>
                        <li>Ads use about 5 seconds of mobile load time on average.</li>
                        <li>Ads decrease phone battery life by as much as 21%.</li>
                        <li>Privacy is violated when large media sites host up to 70 trackers.</li>
                        <li>Malware (malvertisements, ransom-ware) is up 132% in one year.</li>
                    </ul>
                </div>
            </section>
            <section class="col-lg-4">
                <div class="section-content">
                    <i class="img img-Bot"></i>
                    <h1>Publishers are hurting</h1>
                    <ul>
                        <li>Google and Facebook take 73% of all ad dollars and 99% of all growth.</li>
                        <li>Revenue is recently down 66%. </li>
                        <li>Bots inflicted $7.2 billion in fraud last year.</li>
                        <li>Over 600 million phones and desktops run ad-blocking.</li>
                        <li>Publishers cannot seamlessly monetize value added services.</li>
                    </ul>
                </div>
            </section>
            <section class="col-lg-4">
                <div class="section-content">
                    <i class="img img-Info"></i>
                    <h1>Advertisers are losing</h1>
                    <ul>
                        <li>Advertisers lack good information on what they are paying for.</li>
                        <li>Marketers are often fooled by bogus websites and bots that commit fraud.</li>
                        <li>Targeting is poor, making users more likely to ignore ads.</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>