<div class="container"  id="hero">
	<div class="row px-5 pt-5 pb-5">
		<section class="col-md-4">
			<h1 class="pb-4">Open source.<br>Transparent.<br>Decentralized.<br>Efficient.</h1>
			<p><a href="#"><i class="img img-newspaper"></i> View the White Paper</a></p>
			<p><a href="#"><i class="img img-newspaper"></i> On Token Velocity</a></p>
		</section>
		<section class="col-md-4">
			<i class="img img-Fast-Safe mb-4"></i>
			<p class=" pr-5">Basic Attention Token radically improves the efficiency of digital advertising by creating a new token that can be exchanged between publishers, advertisers, and users. It all happens on the Ethereum blockchain.</p>
		</section>
		<section class="col-md-4">
			<i class="img img-Velocity mb-4"></i>
			<p class=" pr-5">The token can be used to obtain a variety of advertising and attention-based services on the BAT platform. The utility of the token is based on user attention, which simply means a person’s focused mental engagement.</p>
		</section>
	</div>
</div>
</div>