<div class="container"  id="hero">
	<div class="row px-5 pt-5 pb-5">
		<section class="col-lg-4">
			<h1 class="pb-4">{{ .Params.open}}</h1>
			<p><a href="#"><i class="img img-newspaper"></i> {{ .Params.viewwhite}}</a></p>
			<p><a href="#"><i class="img img-newspaper"></i> {{ .Params.ontoken}}</a></p>
		</section>
		<section class="col-lg-4">
			<i class="img img-Fast-Safe mb-4"></i>
			<p class=" pr-5">{{ .Params.aboutbat}}</p>
		</section>
		<section class="col-lg-4">
			<i class="img img-Velocity mb-4"></i>
			<p class=" pr-5">{{ .Params.usebat}}</p>
		</section>
	</div>
</div>
</div>