<div id="hero">
	<section>
		<h1>Open Source.<br>Transparent.<br>Decentralized.<br>Efficient.</h1>
		<p><i class="img img-newspaper"></i> <a href="#">View the White Paper</a></p>
		<p><i class="img img-newspaper"></i> <a href="#">On Token Velocity</a></p>
	</section>
	<section>
		<i class="img img-Fast-Safe"></i>
		<p>Basic Attention Token radically improves the efficiency of digital advertising by creating a new token that can be exchanged between publishers, advertisers, and users. It all happens on the Ethereum blockchain.</p>
	</section>
	<section>
		<i class="img img-Velocity"></i>
		<p>The token can be used to obtain a variety of advertising and attention-based services on the BAT platform. The utility of the token is based on user attention, which simply means a person’s focused mental engagement.</p>
	</section>
</div>