<div id="how-it-works">
    <img src="assets/img/how-it-works.png" />
    <div class="container">
        <div class="row justify-content-end m-neg ">
            <div class="col-lg-6 text-center">
                <h1>How it Works</h1>
                <p>The Brave browser anonymously monitors user attention, then rewards publishers accordingly with BATs.</p>
            </div>
        </div>
        <section class="row">
            <div class="col-lg-4">
                <h1>Measuring Attention</h1>
            </div>
            <div class="col-lg-8">
                <p>Attention is measured as users view ads and content in the browser’s active tab in real time. The Attention Value for the ad will be calculated based on incremental duration and pixels in view in proportion to relevant content, prior to any direct engagement with the ad. We will define further anonymous cost-per-action models as the system develops.</p>
                <p>Ads are then anonymously matched with customer interests using local machine learning algorithms. This means fewer irrelevant ads.</p>
                <p>Brave will work with publishers and advertisers to establish best practices for judging user attention. One potential metric: the number of total views of advertising content for a certain number of seconds. Or, points assigned on the length of a view.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-4">
                <h1>Who Gets What?</h1>
            </div>
            <div class="col-lg-8">
                <p>Users viewing ads will be rewarded with BATs. BATs can be used for premium content or services on the BAT platform.</p>
                <p>Publishers will, as part of this service, receive the lion’s share of the total ad revenue. We anticipate that users will also donate back some tokens to publishers, further increasing their revenue.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-4">
                <h1>More Privacy, Less Fraud</h1>
            </div>
            <div class="col-lg-8">
                <p>We plan to mitigate possible ad fraud through the use of cryptography, better client-side integrity, and transparency achieved through open source.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-4">
                <h1>Up and Running</h1>
            </div>
            <div class="col-lg-8">
                <p>Much of the infrastructure required to deploy BAT at the back end is up and running, meaning it’s currently in place and being used to distribute donations to publishers based on customer attention. Use it today in the Brave Browser for Windows, Mac OS and Linux.</p>
            </div>
        </section>
    </div>
</div>