<div id="landing">
	<i class="img img-BAT-logo-welcome"></i>
	<h1>Basic Attention Token</h1>
	<p>Introducing blockchain based digital advertising</p>
	<button><i class="img img-play-filled"></i> Video</button>
	<button><i class="img img-brave"></i> Get Brave</button>
	<p class="about">From the creator of JavaScript and the co-founder of Mozilla and Firefox, with a solid team – funded by Founders Fund, Foundation Capital, Propel Venture Partners, Pantera Capital, DCG, Danhua Capital, and Huiyin Blockchain Venture among others.</p>
</div>




