@import "static/assets/css/bootstrap";
@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/poppins/Poppins-SemiBold.ttf");
	font-weight: 600;
}

body{
	font-family: Poppins;
	background: #F8F8F8;
}

.img {
	background-image: url(/assets/img/sprite.png);
	background-repeat: no-repeat;
	display: block;
}

.img-BAT-logo-welcome {
	width: 227px;
	height: 221px;
	background-position: -5px -5px;
}

.img-Bot {
	width: 52px;
	height: 52px;
	background-position: -242px -5px;
}

.img-Fast-Safe {
	width: 52px;
	height: 52px;
	background-position: -304px -5px;
}

.img-Info {
	width: 52px;
	height: 52px;
	background-position: -366px -5px;
}

.img-Targeting {
	width: 52px;
	height: 52px;
	background-position: -428px -5px;
}

.img-Union {
	width: 30px;
	height: 30px;
	background-position: -490px -5px;
}

.img-Velocity {
	width: 52px;
	height: 52px;
	background-position: -530px -5px;
}

.img-arrow-2-down {
	width: 24px;
	height: 24px;
	background-position: -592px -5px;
}

.img-bat-logo-1 {
	width: 97px;
	height: 96px;
	background-position: -626px -5px;
}

.img-bra {
	width: 48px;
	height: 48px;
	background-position: -733px -5px;
}

.img-brave {
	width: 84px;
	height: 96px;
	background-position: -791px -5px;
}

.img-brave-logo1 {
	width: 24px;
	height: 24px;
	background-position: -885px -5px;
}

.img-ellipse {
	width: 33px;
	height: 33px;
	background-position: -919px -5px;
}

.img-newspaper {
	width: 20px;
	height: 20px;
	background-position: -962px -5px;
}

.img-play-filled {
	width: 24px;
	height: 24px;
	background-position: -992px -5px;
}

.img-social-share {
	width: 24px;
	height: 24px;
	background-position: -1026px -5px;
}

.img-taj {
	width: 48px;
	height: 48px;
	background-position: -1060px -5px;
}


a{
	color: #4C54D2;
	text-decoration: none;
}

h1{
	font-weight: 600;
}
#landing{
	background-image: url(/assets/img/background.png);
	background-size: cover;
	background-position: center center;
	color: white;
	padding-bottom: 250px;
	.img-BAT-logo-welcome {
		margin-inline: auto;
	}
	
	p.intro{letter-spacing: 1px;}
	button{
		color: white;
		font-size: 14px;
		border-radius: 5vh;
		min-width: 22vh;
		padding-top: 0.7vh;
		padding-bottom: 0.7vh;
		&.video-btn{
			background: #4C54D2;
		}
		&.brave-btn{
			border: solid 1px rgba(255,255,255, .36);
		}
		.img{
			display: inline-block;
			margin-bottom: -7px;
			margin-right:10px ;
		}
	}
}

#hero{
	margin-top: -250px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(50,50,50,.5);
	h1 {
		font-size: 30px;
		line-height: 40px;
	}
	a{
		font-weight: 700;
		font-size: 14px;
		.img{
			display: inline-block;
		}
	}
}

#challenge{
	background: #F8F8F8;
	margin-top: 80px;
	h2{font-size: 17px}
	section{
		margin-bottom: 30px;
		.section-content{
			height: 100%;
			padding: 20px;
			margin-right: 30px;
			
			background: white;
			border-radius: 10px;
			h1{
				margin: 20px 0;
			}
			.img{
				margin-bottom: 10px;
			}
			&:last-child{
				margin-right: 0;
			}
			ul{
				padding-left: 20px;
				li{
					margin-bottom: 20px;
				}
			}
		}
		h1{
			font-size: 18px;
		}
	}
}

#blockchain {
	background: white;
	.title{
		font-size: 60px;
		span{
			margin: 0 20px;
		}
		.img{
			display: inline-block;
			margin-bottom: -20px;
		}
	}
	ul{
		position: relative;
		&:before{
			content: "";
			background: #E9E9F4;
			height: 100%;
			width: 2px;
    display: block;
    position: absolute;
    left: 43px;
    z-index: 0;
		}
		list-style: none;
		li{
			.img{
				display: inline-block;
				z-index: 2;
			}
			.content {
				display: block;
				
				margin: 10px 0 20px ;
			}
		}
	}
	h3{
		font-weight: 600;
		font-size: 18px;
	}
	.drop-shadow{
		box-shadow: 0px 10px 15px rgba(50,50,50,.3);
	}
}